<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button type="button" class="menu-trigger">
          <div class="navicon"></div>
          <span class="menu-trigger__text">Menu</span>
        </button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.title == "Deadlines" %}
              <li class="masthead__menu-item"><a href="javascript:void(0);" onclick="openDeadlinesModal(); return false;" class="deadlines-trigger">{{ link.title }}</a></li>
            {% else %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
